<section>
    <nav class="roomsBar">
        <h1 class="roomListTitle">Bloc Chat</h1>
        <div ng-controller="ModalCtrl as modal">
            <button class="addRoomButton" ng-click="modal.open()">Add Room</button>
        </div>
        <ul>
            <li class="roomListItem" ng-repeat="room in home.rooms" ng-click="home.changeActiveRoom(room)">{{ room.$value }}</li>
        </ul>
    </nav>
    <section class='messageDisplay'>
        <h2 class='messageRoomTitle'>Active Room: {{ activeRoom.$value }}</h2>
        <table>
            <tr ng-repeat="message in activeRoomMessages" class="messageRows">
                <td class="messageUsername">{{ message.username }}: </td>
                <td class="messageContent">{{ message.content }}</td>
            </tr>
        </table>
    </section>
    <section class="sendMessageForm">
        <form ng-if="activeRoom.$value">
            <input type="text" ng-model="newMessage" placeholder="Enter your message here..." class="sendMessageText">
            <input type="submit" id="Submit" value="Send" ng-click="home.sendMessage(newMessage)" class="sendMessageSubmit">
        </form>
    </section>
</section>